:root{
    --blue-color:#0075ff;
    --bule-alt-color:#0d69d5;
    --orange-color:#f59e0b;
    --green-color:#22c55e;
    --red-color:#f44336;
    --grey-color:#888;
   }

/*strat box*/
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
/*end box*/
/*strat padding + margin*/
.p-10{
    padding: 10px;
}
.p-15{
    padding: 15px;
}
.m-20{
    margin: 20px;
}
.mt-0{
    margin-top: 0;
}
/*end padding + margin*/
/*start color*/
.bg-white{
    background-color: white;
}
.c-black{
    color: black;
}
/*end color*/
/*start position*/
.p-relative{
position: relative;
}
.p-abs{
    position: absolute;
}
/*end position*/
/*strat font*/
.txt-c{
    text-align: center;
}

.fs-14{
    font-size: 14px;
}
.fs-25{
    font-size: 25px;
}
/*end font*/
/*start border*/
.rad-6{
    border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
}
.rad-half{
    border-radius: 50%;
}
/*end border*/
/*strat components*/
.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.between-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.w-full{
    width: 100%;
}
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px;
}

@media (max-width: 767px) {
    .txt-c-mobile {
      text-align: center;
    }
  }
@media (max-width: 767px) {
    .block-mobile {
      display: block;
    }
    .hide-mobile {
      display: none;
    }
  }

.p-20{
    padding: 20px;
}
.space-between{
    justify-content: space-between;
}
.bg-eee{
    background-color: #eee;
}
.mt-5{
    margin-top: 5px;
}
.c-blue{
    color: var(--blue-color);
}
.c-grey{
    color: var(--grey-color);
}
.mt-0{
    margin: 0;
}
.mt-20{
    margin-top: 20px;
}

.mb-20{
    margin-bottom: 20px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-5{
    margin-bottom: 5px;
}
.d-block{
    display: block;
}
.mt-10{
    margin-top: 10px;
}
.bg-blue{
    background-color: var(--blue-color);
}
.c-orange{
    color: var(--orange-color);
}
.c-green{
    color: var(--green-color);
}
.c-red{
    color: var(--red-color);
}
.c-orange{
    color: var(--orange-color);
}
.c-white{
    color: white;
}
.w-fit{
    width: fit-content;
}
.b-none{
    border: none;
}
.btn-shape{
    padding: 4px 10px;
    border-radius: 6px;
}
.fw-bold{
    font-weight: bold;
}
.bg-orange{
    background-color: var(--orange-color);
}
.bg-green{
    background-color: var(--green-color);
}
.f-wrap{
    flex-wrap: wrap;
}
.pt-15{
    padding-top: 15px;
}
.pb-15{
    padding-bottom: 15px;
}
.pb-10{
    padding-bottom: 10px;
}
.mr-10{
    margin-right: 10px;
}
.rad-half{
    border-radius: 50%;
}
.pl-15{
    padding-left: 15px;
}
.bg-red{
    background-color: var(--red-color);
}
.h-full{
    height: 100%;
}
.m-20{
    margin: 20px;
}
.mb-0{
    margin-bottom: 0;
}
.border-ccc{
    border: 1px solid #ccc;
}
.gap-20{
    gap: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.w-100{
    width: 100px;
}
.h-100{
    height: 100px;
}
.border-eee{
    border:  1px solid #eee;
}
.p-absolute{
    position: absolute;
}
.pt-10{
    padding-top: 10px;
}